h1{
    font-family: 'brush script MT' brush script MT, fantasy;
}
h2{
    font-family: 'Times New Roman', Times, serif; color: rgb(110, 21, 63); 
}
p{
    font-family: monaco; color: black;
}
ol{
    font-family: monaco;
}
a{
    font-family: monaco; color: rgb(241, 87, 177);
}